@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?58880077');
  src: url('../font/fontello.eot?58880077#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?58880077') format('woff'),
       url('../font/fontello.ttf?58880077') format('truetype'),
       url('../font/fontello.svg?58880077#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon {
 font-family: "fontello";
 font-style: normal;
 font-size: large;
 speak: never;
 width: 24px;
 height: 26px;
 display: inline-block;
 margin-top: 5px;
 text-align: center;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
